@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');

@import "tailwindcss";

:root{
  --primary-color: #a79d80;
}

body {
  font-family:  poppins, sans-serif;
}

.carousel-container{
  user-select: none;
}

.button {
  background-color: #202020;
  border: none;
  color: white;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition-duration: 0.3s;
}

.button:hover {
  background-color: var(--primary-color);
}

@media screen and (max-width: 768px) {
  .button {
    padding: 10px 22px;
    font-size: 16px;
  }
  
} 


.carousel.carousel-slider .control-arrow{
  display: none;
}

.Toastify__toast-container--top-right{
  padding: 10px !important;
}