@import "tailwindcss";

:root{
  --primary-color: #a79d80;
}

.carousel-container{
  user-select: none;
}

.button {
  background-color: #202020;
  border: none;
  color: white;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition-duration: 0.3s;
}

.button:hover {
  background-color: var(--primary-color);
}

@media screen and (max-width: 768px) {
  .button {
    padding: 10px 22px;
    font-size: 16px;
  }
  
} 


.carousel.carousel-slider .control-arrow{
  display: none;
}

.Toastify__toast-container--top-right{
  padding: 10px !important;
}